* {
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  display: grid;
  grid-gap: 0.2rem;
  font-family: "inter", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #004d40;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 5px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-evenly;
  margin: 15px;
}

#logo {
  display: flex;
  max-width: 60px;
  max-height: 30px;
  justify-content: flex-start;
  margin: 15px;
}

#logo:hover {
  transform: scale(1.2);
}

nav ul a {
  color: rgb(0, 94, 128);
  border-bottom: 3px solid rgba(255, 0, 0, 0.518);
}

nav ul li:hover {
  transform: scale(1.2);
}

/* header {
    grid-area: header;
  } */

header h1 {
  /* Bildet jeg har tatt er fra Binärcode fra google */
  background-image: url("../pictures/kode.jpg");
  min-height: 350px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  line-height: 400px;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

footer {
  /* grid-area: footer; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 100px 5px;
}